@use "../../node_modules/sass-rem" as rem;
// stylelint-disable at-rule-empty-line-before
@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";
@import "helpers";

@import "components/header";
@import "components/footer";

@import "pages/home";
// @import "~sass-rem";

:root {
 font-size: 62.5%;
 font-family: "Roboto", sans-serif;
}

.logo {
 display: block;
}

.wrapper {
 border: solid yellow rem.convert(10px);
}

.main-header {
 display: block;
}
