@use "../../node_modules/sass-rem" as rem;
// stylelint-disable at-rule-empty-line-before
@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";
@import "helpers";

@import "components/header";
@import "components/footer";

@import "pages/home";

:root {
 font-size: 16px;
 font-family: "Roboto", sans-serif;
}

body {
 font-size: 100%;
}

.logo {
 display: block;
}

.wrapper {
 display: block;
}

.main-header {
 min-height: rem.convert(81px);
 display: flex;
 width: 100%;
 justify-content: center;
 align-items: center;
 position: relative;
 top: 0;
 left: 0;
}

// .logo
.logo {
 // .logo__img
 &__img {
  display: block;
  max-width: rem.convert(181px);
  width: 100%;
 }
}

// .menu
.menu {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 border-top: 1px solid #e9e9e9;
 border-bottom: 1px solid #e9e9e9;
 height: rem.convert(59px);

 // .menu__nav
 &__nav {
  height: 100%;
  display: flex;
  justify-content: center;

  // .menu__nav-ul
  &-ul {
   height: inherit;
   display: inline-flex;
  }

  // .menu__nav-li
  &-li {
   height: inherit;
   padding-left: rem.convert(23.66px);
   padding-right: rem.convert(23.66px);
  }

  // .menu__nav-link
  &-link {
   height: inherit;
   font-weight: 500;
   font-size: rem.convert(16px);
   color: #000;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;

   // .menu__nav-txt
   &-txt {
    position: relative;
    top: 0;
    left: 0;
    &--arrow-down {
     &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: rem.convert(-15.74px);
      display: block;
      width: rem.convert(9.41px);
      height: rem.convert(5.41px);
      background-image: svgtodataurl(
       '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.41 5.41"> <polygon points="4.71 5.41 0 0.71 0.71 0 4.71 4 8.71 0 9.41 0.71 4.71 5.41"></polygon> </svg>'
      );
     }
    }
   }
  }
 }
}
