@use "../../node_modules/sass-rem" as rem;
// stylelint-disable at-rule-empty-line-before
@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";
@import "helpers";

@import "components/header";
@import "components/footer";

@import "pages/home";

@function rem($px) {
 @return rem.convert($px);
}

:root {
 font-size: 16px;
 font-family: "Roboto", sans-serif;
 box-sizing: border-box;
}

body {
 font-size: 100%;
 font-weight: 400;
 font-size: rem(14px);
 line-height: rem(20px);
}

// .wrapper
.wrapper {
 display: block;
}

// .main-header
.main-header {
 @include p;
 @include flex-center;
 min-height: rem(81px);
 width: 100%;
}

// .search-form
.search-form {
 position: absolute;
 right: rem(19px);
 top: rem(6px);

 // .submit-btn
 .submit-btn {
  background: none;
 }

 // .search-form__submit-btn
 &__submit-btn {
  text-decoration: none;
  background: none !important;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
 }
}

// .logo
.logo {
 display: inline-block;
 @include p("rel", rem(2px), rem(1px));

 // .logo__img
 &__img {
  display: block;
  max-width: rem(181px);
  max-height: 100%;
  width: 100%;
  transition: all 0.16s linear;
 }
}

// .menu
.menu {
 height: rem(59px);
 position: sticky;
 top: 0;
 left: 0;
 z-index: 10;
 // .menu__inner
 &__inner {
  @include flex-center;
  background-color: #fff;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  height: 100%;
 }

 // .menu__nav
 &__nav {
  height: 100%;
  @include flex-center-horiz;

  // .menu__nav-ul
  &-ul {
   height: inherit;
   display: flex;
   justify-content: space-between;
   margin-left: rem(18px);
   padding-top: rem(2px);
  }

  // .menu__nav-li
  &-li {
   @include padding-x(rem(13.6px), rem(32.6px));
   height: inherit;
   position: relative;
   top: 0;
   left: 0;
   &:hover {
    .drop-down {
     display: block;
    }
   }
  }

  // .menu__nav-link
  &-link {
   @include flex-center;
   height: inherit;
   font-weight: 500;
   font-size: rem(16px);
   color: #000;
   text-decoration: none;

   // .menu__nav-txt
   &-txt {
    @include p;
    white-space: nowrap;
    // .menu__nav-txt--arrow-down
    &--arrow-down {
     &:after {
      @include size(rem(9.41px), rem(5.41px));
      content: "";
      position: absolute;
      top: 50%;
      right: rem(-12px);
      transform: translate(0, -50%);
      display: block;
      background-repeat: no-repeat;
      background-image: svgtodataurl(
       '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.41 5.41"><polygon points="4.71 5.41 0 0.71 0.71 0 4.71 4 8.71 0 9.41 0.71 4.71 5.41"/></svg>'
      );
     }
    }
   }
  }
 }
}

// .wide-container
.wide-container {
 width: 100%;
 display: flex;
 justify-content: center;
 padding-bottom: rem(70px);
 // .wide-container--top-space
 &--top-space {
  // padding-top: rem(38px);
  padding-top: rem(48px);
 }
}

// .fix-container
.fix-container {
 max-width: rem(1200px);
 // overflow-x: hidden;
 width: 100%;
 // .fix-container--articles-section
 &--articles-section {
  @include padding-x(rem(20px));
 }

 &--main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
 }

 // .fix-container__row
 &__row {
  @include margin-x(rem(-20px));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
}

// .article
.article {
 @include padding-x(20px);
 margin-bottom: 47px;
 max-width: calc(100% / 3);

 @media screen and (max-width: 768px) {
  max-width: calc(100% / 2);
 }

 @media screen and (max-width: 480px) {
  max-width: 100%;
 }

 // .article__img
 &__img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: auto;
 }
}

// .segment-headline
.segment-headline {
 @include margin-y(rem(12px));
 font-weight: 700;
 font-size: rem(24px);
 line-height: rem(30px);

 // segment-headline__link
 &__link {
  display: inline;
  color: #000;
  transition: all 0.16s linear;
  /*
  text-decoration: underline 1px rgba(0, 0, 0, 0);
  transition: text-decoration-color 0.16s linear, color 0.16s linear;
  text-underline-offset: 3px;
  */
  &:active {
   background-color: #eb0028 !important;
  }
  &:hover {
   background-color: #000;
   color: #fff;
   // text-decoration-color: rgba(204, 204, 204, 0.5);
  }
 }
}

// .blog-category
.blog-category {
 font-weight: 700;
 font-size: rem(13px);
 color: #eb0028;
 text-decoration: none;
 margin-top: rem(13px);
 display: inline-block;
}

.article-info__author-name-link,
.blog-category {
 text-decoration: none;
 background-image: linear-gradient(currentColor, currentColor);
 background-position: 0% 100%;
 background-repeat: no-repeat;
 background-size: 0% 2px;
 transition: background-size 0.3s;
 &:hover,
 &:focus {
  background-size: 100% 2px;
 }
}

// .article-info
.article-info {
 font-size: rem(12px);
 margin-bottom: rem(13px);

 // .article-info__author-name
 &__author-name {
  text-decoration: none;
  font-weight: 700;
  color: #000;

  // .article-info__author-name-link
  &-link {
   padding-bottom: rem(3px);
   text-decoration: none;
  }
 }

 // .article-info__publish-date
 &__publish-date {
  color: #9b9b9b;
 }

 // .article-info__view
 &__view {
  color: #9b9b9b;
 }
}

// .context
.context {
 color: #929292;
}

.figure {
 overflow: hidden;
 picture {
  transition: ease-out all 0.7s;
  filter: brightness(1);
 }
 picture:hover {
  // transform: scale(1.2) rotate(2deg);
  transform: scale(1.1);
  text-decoration: none;
  filter: brightness(1.4);
 }

 &,
 picture {
  display: block;
 }
 &--article {
  & > a {
   display: block;
   width: 100%;
  }
 }
}

// .drop-down
.drop-down {
 position: absolute;
 left: 14px;
 top: 100%;
 display: none;

 &__box {
  position: absolute;
  min-width: 176px;
  min-height: 173px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  padding: 10px 20px 3px 19px;
 }

 // .drop-down__ul
 &__ul {
  text-decoration: none;
 }

 // .drop-down__li
 &__li {
  text-decoration: none;
  border-bottom: 1px solid #e9e9e9;
  display: block;
  &:last-child {
   border-bottom: 0;
   a {
    padding-bottom: 0 !important;
   }
  }
  &--arrow-next {
   &:hover {
    .drop-down__link-txt {
     padding-left: 8px;
     color: #969696;
    }
   }
   .drop-down__link-txt {
    @include p;
    display: block;
    transition: ease-out 0.16s all;
    &:after {
     @include size(rem(4.76px), rem(7.81px));
     position: absolute;
     top: 0;
     right: 0;
     content: "";
     background-repeat: no-repeat;
     background-image: svgtodataurl(
      '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4.76 7.81"><polygon points="0.69 7.81 0 7.09 3.32 3.91 0 0.72 0.69 0 4.76 3.91 0.69 7.81"/></svg>'
     );
    }
   }
  }
 }

 // .drop-down__link
 &__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  color: #000;
  display: block;
  padding: 9.4px 0 6.9px 0;
 }
}

i.separator {
 @include size(rem(8px), rem(8.5px));
 display: inline-block;
 flex-shrink: 0;
 flex-grow: 0;
 position: relative;
 top: 0;
 left: 0;
 &:after {
  @include size(rem(3px));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  background: #d7d7d7;
  border-radius: 50%;
  overflow: hidden;
 }
}
