

 ["stats-error-details"]: isDev ? true : false,
 
 stats-error-details
 
 

 
font-size: 12px

1rem - 10px
xrem - 81px

81/10 = x




variables 

1 svg sprite
2 sass css variables
3 grid
4 js import

