

.anchor-top {
 @include flexbox($placeItems: flex-start);
}

.anchor-bottom {
 @include flexbox($placeItems: flex-end);
}

.anchor-center {
 @include flexbox($placeItems: center);
}

.anchor-left {
 @include flexbox($placeContent: flex-start);
}

.anchor-right {
 @include flexbox($placeContent: flex-end);
}

.anchor-center-hor {
 @include flexbox($placeContent: center);
}





 ["stats-error-details"]: isDev ? true : false,
 
 stats-error-details
 
 

 
font-size: 12px

1rem - 10px
xrem - 81px

81/10 = x




variables
pixel perfect
flex mixins
svg sprite
sass css variables
fonts
grid
js import

size
position
margin
padding
flex

html fig



scss variables




hmmm, Осипов это тот кто не Дашкиев